# **Lecture 11A**
# **Summarizing Data into Tables**
One important task in data management is to summarizing data into tables. Pandas module allows us to summarize data using pivot tables and crosstabs.

In [1]:
# Run the code below to access files in your Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# We need pandas module
import pandas as pd

# We will use the worksheet "Telco" in "Telco.xlsx" for most of the examples in this notebook.
# It contains records of customers in a telcommunication company.
telco = pd.read_excel("/content/drive/MyDrive/Data/Telco.xlsx",sheet_name="Telco")
display(telco)
print(telco.dtypes)

,CID,JoinDate,Sex,Age,PlanName,MonthlyFee,Discount,NRenewal,PlanEndDate,HasLongDist,...,NCallLast1,NCallLast2,NCallLast3,NCallLast4,NCallLast5,NCallLast6,MobileTV,MobilePayment,ClubPurchase,Roaming
0,24842,2008/3/2,m,37,basic,149,0,0,22107,1,...,54,33,38,39,20,43,-999.0,-999.0,53.2,185.4
1,39864,2008/6/28,m,42,basic,158,12,1,21573,1,...,36,32,49,34,48,26,-999.0,-999.0,-999.0,130
2,47097,2010/9/12,f,34,premium,191,0,0,21872,1,...,24,33,41,34,50,24,-999.0,-999.0,-999.0,
3,76326,2008/6/19,u,58,value,114,0,2,21316,0,...,31,25,21,17,22,27,-999.0,-999.0,138.2,
4,10793,2011/1/27,m,39,cheap,164,0,0,21849,0,...,31,21,49,27,19,35,37.8,199.5,-999.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,50263,2009/8/12,f,50,basic,149,0,2,21918,0,...,56,61,47,43,42,41,-999.0,-999.0,-999.0,
4996,52152,2008/12/17,m,36,vip,251,13,0,21507,0,...,206,181,187,191,183,198,-999.0,-999.0,-999.0,342.7
4997,72807,2015/10/8,f,31,value,98,16,1,22159,0,...,33,36,43,29,42,26,-999.0,-999.0,174.2,
4998,14416,2010/10/10,m,36,premium,199,20,1,22033,0,...,44,36,52,41,49,60,-999.0,-999.0,-999.0,
4999,56116,2016/6/28,f,44,cheap,143,0,1,21718,0,...,26,19,27,14,9,17,-999.0,-999.0,-999.0,

CID                int64
JoinDate          object
Sex               object
Age               object
PlanName          object
MonthlyFee         int64
Discount           int64
NRenewal           int64
PlanEndDate        int64
HasLongDist        int64
HasBroadband       int64
HasLandLine        int64
UseAutopay         int64
HasFamilyUser     object
HasRoaming         int64
ChurnedBefore     object
DataUseLast1     float64
DataUseLast2     float64
DataUseLast3     float64
DataUseLast4     float64
DataUseLast5     float64
DataUseLast6     float64
MinUseLast1        int64
MinUseLast2        int64
MinUseLast3        int64
MinUseLast4        int64
MinUseLast5        int64
MinUseLast6        int64
NCallLast1         int64
NCallLast2         int64
NCallLast3         int64
NCallLast4         int64
NCallLast5         int64
NCallLast6         int64
MobileTV         float64
MobilePayment    float64
ClubPurchase     float64
Roaming           object
dtype: object

---
**Example 1:** Summarizing 2 categorical variables in a table. (That is crosstabulation.) 
* The categories of the first variable will be listed in the rows.
* The categories of the second variable will be listed in the columns.
* Cells in the table will be the counts of the number of observations for each combination of the two categorical variables.
* The syntax is **pd.crosstab(index=*Series1*,columns=*Series2*,values=*Series3*],aggfunc=*stat*)**. The function will return the constructed table as a DataFrame.
* **index=** option is for specifying a categorical Series being used in the rows. In this example, we use the Series ***telco["PlanName"]*** in the rows.
* **columns=** option is for specfiying a categorical Series being used in the columns. In this example, we use the Series ***telco["Sex"]*** in the columns.
* **values=** option is for specifying the Series being summarized. In this example, we are "counting" the number of non-missing observation of the variable CID, which is customer ID.
* **aggfunc=** is for us to specify the aggregation function to be applied on the **values** variable. In this example, we are using the **count** function.

In [ ]:
# Import Pandas module
import pandas as pd

# Get the data file
telco = pd.read_excel("/content/drive/MyDrive/Data/Telco.xlsx",sheet_name="Telco")

# PlanName is in the rows
# Sex is in the columns
# The cells contain the counts of non-missing value in the CID variable.
table = pd.crosstab(index=telco["PlanName"],
                    columns=telco["Sex"],
                    values=telco["CID"],
                    aggfunc="count")
display(table)

Sex         f     m    u
PlanName
basic     403   541   38
cheap     187   273   17
premium   165   275   24
value     997  1478  102
vip       215   270   15

---
**Example 2:** This example shows you how to use multiple categorical Series in rows and/or columns.
* When you use multiple categorical Series in rows (or columns), you need to specify a list of Series for **index=** option and/or **columns=** option.
* You may see NaN if there are no data in a cell.

In [ ]:
# Import Pandas module
import pandas as pd

# Get the data file
telco = pd.read_excel("/content/drive/MyDrive/Data/Telco.xlsx",sheet_name="Telco")

# PlanName and Sex are in the rows
# HasBroadband and HasLandLine are in the columns
# The cells contain the counts of non-missing value in the CID variable.
table = pd.crosstab(index=[telco["PlanName"],telco["Sex"]],
                    columns=[telco["HasBroadband"],telco["HasLandLine"]],
                    values=telco["CID"],
                    aggfunc="count")
display(table)

HasBroadband      0             1
HasLandLine       0      1      0      1
PlanName Sex
basic    f     98.0  207.0   30.0   68.0
         m    115.0  286.0   45.0   95.0
         u      9.0   19.0    2.0    8.0
cheap    f     44.0   95.0   23.0   25.0
         m     69.0  138.0   16.0   50.0
         u      2.0   10.0    2.0    3.0
premium  f     47.0   81.0   15.0   22.0
         m     84.0  134.0   18.0   39.0
         u      4.0   12.0    3.0    5.0
value    f    254.0  511.0   78.0  154.0
         m    345.0  747.0  117.0  269.0
         u     18.0   62.0    7.0   15.0
vip      f     49.0  109.0   15.0   42.0
         m     69.0  134.0   28.0   39.0
         u      2.0   10.0    NaN    3.0

---
**Example 3:** **pd.crosstab()** allows us to show row total column and row as well. The option **margins=*True/False*** will turn the column total / row total on and off.

In [ ]:
# Import Pandas module
import pandas as pd

# Get the data file
telco = pd.read_excel("/content/drive/MyDrive/Data/Telco.xlsx",sheet_name="Telco")

# PlanName is in the rows
# Sex is in the columns
# The cells contain the counts of non-missing value in the CID variable.
# An extra row and column is added to show the subtotal
table = pd.crosstab(index=telco["PlanName"],
                    columns=telco["Sex"],
                    values=telco["CID"],
                    aggfunc="count",
                    margins=True)
display(table)

Sex          f     m    u   All
PlanName
basic      403   541   38   982
cheap      187   273   17   477
premium    165   275   24   464
value      997  1478  102  2577
vip        215   270   15   500
All       1967  2837  196  5000

---
**Example 4:** In some applications, we want to present proportions instead of counts in a crosstab.
* We can use the option **normalize="*all"/"index"/"columns*"** to choose what kind of proportions to be shown in the table.
* **normalize="*all*"** means that the denominator is the overall total.
* **normalize="*index*"** means that the denominator is the row total.
* **normalize="*columns*"** means that the denominator is the column total.

In [ ]:
# Import Pandas module
import pandas as pd

# Get the data file
telco = pd.read_excel("/content/drive/MyDrive/Data/Telco.xlsx",sheet_name="Telco")

# PlanName is in the rows
# Sex is in the columns
# The cells contain the counts of non-missing value in the CID variable.
# The proportions are calculation using row total as denominator
# There are no row total because they are all equal to 1
table = pd.crosstab(index=telco["PlanName"],
                    columns=telco["Sex"],
                    values=telco["CID"],
                    aggfunc=["count"],
                    margins=True,
                    normalize="columns"
                    )
display(table)

             count
Sex              f         m         u     All
PlanName
basic     0.204881  0.190694  0.193878  0.1964
cheap     0.095069  0.096228  0.086735  0.0954
premium   0.083884  0.096933  0.122449  0.0928
value     0.506863  0.520973  0.520408  0.5154
vip       0.109304  0.095171  0.076531  0.1000

---
**Example 5:** **pd.crosstab()** can also be used to summarizing numeric variables.
* In this example we use a numeric variable for **values=** option.
* We are requesting 2 aggregation functions **mean** and **std** (i.e. standard deviation).

In [ ]:
# Import Pandas module
import pandas as pd

# Get the data file
telco = pd.read_excel("/content/drive/MyDrive/Data/Telco.xlsx",sheet_name="Telco")

# PlanName is in the rows
# Sex is in the columns
# The cells contain the mean/sd of DataUseLast1 variable.
# The aggregation functions are "mean" and "std"
# Row and column total are also displayed
table = pd.crosstab(index=telco["PlanName"],
                    columns=telco["Sex"],
                    values=telco["DataUseLast1"],
                    aggfunc=["mean","std"],
                    margins=True)
display(table)

              mean                                     std            \
Sex              f         m         u       All         f         m
PlanName
basic     3.530124  3.573198  3.953421  3.570234  2.500982  2.478999
cheap     3.424866  3.437106  4.267647  3.461908  2.421607  2.200391
premium   5.500455  5.210727  6.148125  5.362241  3.998021  3.831439
value     3.378435  3.550264  4.102843  3.505658  2.500196  2.432467
vip       6.605767  6.616444  6.104000  6.596480  4.782163  4.318881
All       3.944690  3.996514  4.491760  3.995540  3.166128  2.977943


Sex              u       All
PlanName
basic     2.951600  2.506177
cheap     3.125861  2.326086
premium   5.380318  3.979915
value     2.957311  2.484736
vip       4.584410  4.523279
All       3.547594  3.078147

---
**Example 6:** In addition to **pd.crosstab()**, Pandas provides another similar function **pd.pivot_table()**. However, there are  some differences in the usage and features.
* The syntax is **pd.pivot_table(*df*,values=*list*,index=*list*,columns=*list*,aggfunc=*list*,fill_value=*value*,margins=*True/False*)**
* ***df*** is a DataFrame providing the data. (We don't have df in pd.crosstab!)
* **values=** specifies a list of column names from ***df***. (We don't need to give the DataFrame names as it is already provided by the first argument ***df***.
* **index=** specifies a list of column names fron ***df*** to be used in the rows. These should be categorical variables.
* **columns=** specifies a list of column names fron ***df*** to be used in the columns. These should be categorical variables.
* **aggfunc=** specifies a list of aggregation function names, such as ***mean***, ***std*** and etc.
* **fill_value=** specifiy a value to be used if a cell is NaN. (We don't have this in pd.crosstab)
* **margins=** specifify if we want the total columns/rows to be shown.
* **pd.pivot_table()** does not have the **normalize=** option.

In [ ]:
# Import Pandas module
import pandas as pd

# Get the data file
telco = pd.read_excel("/content/drive/MyDrive/Data/Telco.xlsx",sheet_name="Telco")

# We are calculating means of DataUseLast1 for each category of PlanName.
# PlanName is a categorical variable in the rows.
# There is no categorical variable in the columns.
# We have the total row at the end.
table = pd.pivot_table(telco, values=["DataUseLast1"],index=["PlanName"],aggfunc="mean",margins=True)
display(table)

          DataUseLast1
PlanName
basic         3.570234
cheap         3.461908
premium       5.362241
value         3.505658
vip           6.596480
All           3.995540

In [3]:
# PlanName and sex are in the row
# HasBroadband and HasLandLine are in the column
# We are summarizing DataUseLast1 using the mean and std functions
# We have also included the subtotal
table = pd.pivot_table(telco, 
                       values=["DataUseLast1"],
                       index=["PlanName","Sex"],
                       columns=["HasBroadband","HasLandLine"],
                       aggfunc=["mean","std"],
                       margins=True,
                       fill_value="No Data")
display(table)
print(table.dtypes)

                     mean                                          \
             DataUseLast1
HasBroadband            0                   1                 All
HasLandLine             0         1         0         1
PlanName Sex
basic    f       3.428469  3.579517     3.891  3.367059  3.530124
         m       3.420957  3.641294  3.555333  3.560947  3.573198
         u       6.137778  3.034737       3.9   3.69125  3.953421
cheap    f       3.309545  3.759789  2.874348    2.8616  3.424866
         m       3.212899  3.467826      3.85    3.5296  3.437106
         u            1.5     4.686       7.6  2.496667  4.267647
premium  f       5.139574   5.86463      5.73  4.774091  5.500455
         m        5.84625  4.847015  6.153333  4.656538  5.210727
         u        6.65625   7.08875     3.135     5.292  6.148125
value    f       3.403583  3.304266  3.146667  3.700455  3.378435
         m       3.712348  3.557818  3.164359  3.489257  3.550264
         u       3.686667  4.194516  4.875714  3.862667  4.102843
vip      f       6.290612  6.717248  6.206667  6.826667  6.605767
         m       7.001449  6.617015       5.0  7.093846  6.616444
         u            5.6     6.966   No Data  3.566667     6.104
All              4.076419  4.002732  3.800614  3.949683   3.99554

                      std
             DataUseLast1
HasBroadband            0                   1                 All
HasLandLine             0         1         0         1
PlanName Sex
basic    f       2.119804  2.526773  3.281787  2.573712  2.500982
         m       2.115371  2.532711  2.538874  2.714424  2.478999
         u       4.027921  1.865599   3.57796  2.867669    2.9516
cheap    f       2.059246   2.64001  2.542304  1.880956  2.421607
         m       1.906035  2.388587  2.350685  2.013388  2.200391
         u       0.636396  3.044967  2.630437  2.904933  3.125861
premium  f       3.603052  4.266805  4.990712  3.006511  3.998021
         m       4.263235  3.484376  5.653582  2.695162  3.831439
         u       4.676319  7.019113  0.432406  1.957238  5.380318
value    f       2.483839  2.378742  2.720153  2.784692  2.500196
         m       2.568836  2.404839  2.410561  2.328715  2.432467
         u       2.336813  3.148255  3.372343  2.789766  2.957311
vip      f        4.98427  4.881145  3.900737  4.697376  4.782163
         m       5.400165  4.025667  2.212724  4.150818  4.318881
         u       2.573869  5.377707   No Data  0.200333   4.58441
All                3.1966  3.063654  3.095948   2.93679  3.078147

                    HasBroadband  HasLandLine
mean  DataUseLast1  0             0              object
                                  1              object
                    1             0              object
                                  1              object
                    All                          object
std   DataUseLast1  0             0              object
                                  1              object
                    1             0              object
                                  1              object
                    All                          object
dtype: object